{% extends "base.html" %}

{% block content %}
<form id="newform" method="POST" enctype="multipart/form-data">
    <main class="form-signin w-50 m-auto">
        <h1>Новое объявление</h1>
        <div class="form-group mb-2">
            <label for="newform">Выберите категорию</label>
            <select class="form-control" id="categorySelect" name="category" form="newform">
                {% for category in categories %}
                <option>{{category}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group mb-2">
            <label for="itemnameInput">Название объявления</label>
            <input required type="text" name="title" class="form-control" id="itemnameInput"
                   placeholder="Название товара" form="newform">
        </div>
        <div class="form-group mb-2">
            <label for="newform">Состояние</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="condition" id="new" value="new" form="newform">
                <label class="form-check-label" for="new">
                    Новый
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="condition" id="used" value="used" form="newform"
                       checked>
                <label class="form-check-label" for="used">
                    Б/у
                </label>
            </div>
        </div>
        <div class="form-group mb-2">
            <label for="description">Описание объявления</label>
            <textarea required class="form-control" id="description" rows="6" name="description"
                      form="newform"></textarea>
        </div>
        <div class="form-group mb-2">
            <label for="priceInput">Цена в рублях</label>
            <input required type="number" name="price" class="form-control" id="priceInput" placeholder="0" min="0"
                   max="1000000000" form="newform" value="0">
        </div>
        <input type="file" name="photos" class="form-control-file" id="itemsPhotos" multiple accept="image/*"
               form="newform" required>
        <input type="submit" class="btn btn-primary" value="Разместить">
    </main>
</form>
{% endblock %}