{% extends "base.html" %}

{% block content %}
<h2 style="text-align: center">Все объявления</h2>
<form method="POST" id="items" class="form-row">
    {% if items %}
        <div id="cards-container" style="display: flex; flex-wrap: wrap; margin-left: 200px; margin-right: 190px">
        {% for item in items %}
            <div id="itemcard" class="card" style="width: 32.5%; margin-right: 10px; margin-bottom: 10px">
                <img src="пока нет" class="card-img-top" alt="attachment">
                <div class="card-body">
                    <a class="card-title" style="text-decoration: none; font-size: 24px" href="/item/{{item.id}}">{{item.title}}</a>
                    <p class="card-text">{{item.price}} ₽</p>
                    <p class="card-text" style="color: gray">{{item.user.address}}</p>
                    <p class="card-text" style="color: gray">{{item.created_date.strftime("%H:%M %d.%m.%Y")}}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
    <h1 style="text-align: center">Объявления отсутствуют</h1>
    {% endif %}
</form>
{% endblock %}